Pillow==7.2.0
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.7.1+cpu
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.8.2+cpu
opencv-python-headless==4.4.0.46
opencv-contrib-python-headless==4.4.0.46
fvcore==0.1.1.dev200512
--find-links https://dl.fbaipublicfiles.com/detectron2/wheels/cpu/index.html
detectron2==0.3
streamlit==0.73.0